.git/
.gitignore

.env
.env.*
!.env.example


__pycache__/
*.py[codz]
*$py.class


.venv/
venv/
env/
ENV/

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/


build/
dist/
*.egg-info/
.eggs/

.vscode/
.idea/
*.iml


.DS_Store
Thumbs.db
*.log

